flows/Edit_WOLIs-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_WOLI_Status</name>
        <label>Assign WOLI Status</label>
        <locationX>821</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusPlist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WOLI</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CurrentWOLIAsset</name>
        <choiceText>Current WOLI Asset</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CurrentWOLI.AssetId</elementReference>
        </value>
    </choices>
    <choices>
        <name>CurrentWOLIStatus</name>
        <choiceText>Current WOLI Status</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CurrentWOLI.Status</elementReference>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>Asset</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Edit WOLI {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Edit WOLI</label>
    <loops>
        <name>Loop_through_WOLIs</name>
        <label>Loop through WOLIs</label>
        <locationX>622</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>CurrentWOLI</assignNextValueToReference>
        <collectionReference>WOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Line_Item_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Action_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Related_WOLIs</name>
        <label>Get Related WOLIs</label>
        <locationX>362</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_WOLIs</targetReference>
        </connector>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LineItemNumber</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <sortField>LineItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_WOLI</name>
        <label>Update WOLI</label>
        <locationX>695</locationX>
        <locationY>208</locationY>
        <connector>
            <targetReference>Loop_through_WOLIs</targetReference>
        </connector>
        <inputReference>CurrentWOLI</inputReference>
    </recordUpdates>
    <screens>
        <name>Action_Complete</name>
        <label>Action Complete</label>
        <locationX>490</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ActionComplete</name>
            <fieldText>&lt;p&gt;All Work Order Line Items for current Work Order have been visited&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Line_Item_Details</name>
        <label>Line Item Details</label>
        <locationX>819</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_WOLI_Status</targetReference>
        </connector>
        <fields>
            <name>WONumber</name>
            <fieldText>&lt;p&gt;Work Order Number: &lt;/p&gt;&lt;p&gt;{!CurrentWOLI.LineItemNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentWOLI.Description</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StatusPlist</name>
            <choiceReferences>Status</choiceReferences>
            <choiceReferences>CurrentWOLIStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CurrentWOLIStatus</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AssetPlist</name>
            <choiceReferences>Asset</choiceReferences>
            <choiceReferences>CurrentWOLIAsset</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CurrentWOLIAsset</defaultSelectedChoiceReference>
            <fieldText>Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ImageUploadWOLI</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Image Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CurrentWOLI.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>pdf,jpg,jpeg,png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Related_WOLIs</startElementReference>
    <status>Active</status>
    <variables>
        <name>CurrentWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Work Order Line Item Collection queried based on current Work Order ID</description>
        <name>WOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
